#todoproducto {

    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}
.titulo-star {

    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#todoproducto {
   
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;

}



  

