.nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--preto-branco, #FFF);


}
.navbar-brand {

    
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background: var(--preto-branco, #FFF);
    
}
.logo1 .logo2 {

    margin-right: 10px;
    display: flex;
    width: 176px;
    justify-content: center;
    align-items: center;
}
.logo1{

    width: 49.997px;
    height: 50px;  
    flex-shrink: 0;
}
.logo2 {
    width: 126.003px;
    height: 18.5px;
    flex-shrink: 0;

}
.cajaPesquisa{

    align-items: center;
    justify-content: space-between;

}
.caja-texto {
    margin-top: 5%;
    border-style: none;
    border-radius: 40px;
    display: flex;
    width: 393px;
    padding: 8px 16px;
    gap: 2px; 
    border-radius: 40px;
    align-items: flex-end;
    background: var(--preto-05, #F5F5F5); 
    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */

}
.icono {
    
    
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 350px;
    top: 60%;
    transform: translateY(-50%);
    

}
.search-input {

    width: 100px;
    
}
#login-container {
    
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    
}
aside {

    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}
.contenedorPrincipal {
 
    display: flex;
    padding: 32px 0px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background: var(--preto-05, #F5F5F5);
}
.contenedorSecundario{

    display: flex;
    padding: 32px 0px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background: var(--azul-10, #EAF2FD);
}

#textLabel {

    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
#form {
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:  17px;
    width: 250px; 
  
}
#user-email {
    width: 250px;
    height: 40px;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px none #000000;  

    -webkit-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);

    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
#user-password {
    width: 250px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px none #000000;

    -webkit-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);

    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */

} 
.btn-login {

    width: 250px;
    height: 40px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px none #000000;

    -webkit-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);

    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */

}
.list {

    
    align-self: stretch;
    text-align: left;
    display:inline-block;
    padding-top: 0%;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--preto-100, #464646);
    
}
.lista-items {

    list-style: none;
  

}
.caja-mensajeria {

    width: 300px;
    height: 40px;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px none #000000;

    -webkit-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);

    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */

    
}
.text-mensajeria {

    width: 300px;
    height: 90px;
   

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px none #000000;

    -webkit-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 4px 23px 0px rgba(0,0,0,0.12);

    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */

}
.pie-container {

    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--preto-branco, #FFF);
}
.pie-pagina {

    display: flex;
    justify-content: center;
    align-content: center;

}
.copi {

    color: var(--preto-100, #464646);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



  
